body {
    background-color:gray;
    color:black;
}
h1 {
    text-align:center; 
    margin-bottom:2px;
}
#left-box {
	width:49%;
	float:left;
}
#right-box {
	width:49%;
	float:right;
}
#cameraFeeds {
    display:flex;
    flex-flow: row wrap;
    width:100%;
    float: left;
    border: solid 2px black !important;
}
.feed {
    width:45%;    
    margin: 5px;
    background-color: white;
}
h1, h2, h3, p {
   color: white;
}
#resources {
	width:50%; 
	float:left;
}
img {
     border: solid 2px black;
 }
 #chartContainer {
    width:350px;
    height:350px;  
	float:right;	
 }
 #res-container {
    width:100%; 
 }
form {
    width: 100%; 
    border: solid 2px black !important;
    padding: 10px;
}
form label, form input {
    margin-bottom:10px;
}
form label {
    display: inline-block;
    width: 30%;
}
form input[type="range"] {
    vertical-align: middle;
    width: 55%;
}
form input[type="number"] {
    width: 10%;
}

form h3 {
    margin: 18.72 0 0 0;
}
