
body {
    background-color:gray;
    color:black;
}
h1 {
    text-align:center; 
    margin:0;
}
#cameraFeeds {
    display:flex;
    flex-flow: row wrap;
    width: 932px;
    float: left;
    margin: 10px;
    border: solid 2px black !important;
}
.feed {
    height:300px; 
    width:450px;
    margin: 5px;
    background-color: white;
}
#camTitle {
    text-decoration-color: black;
    float: left;
}

h1, h2, h3, p {
   color: white;
}
#resources {
    float: left;
    margin-left: 10px;
    width: 314px;
    height: 314px;
    padding-left: 10px;

    
}
 img {
     border: solid 2px black;
 }
 #chartContainer {
     float:left;
     width:314px; 
     height:314px; 
 }
 #res-container {
    float:left; 
    border: solid 2px black !important;
    margin: 10px; 
    padding: 10px;
 }


/* Form style */
form {
    position:relative; 
    float: left;
    margin: 10px;
    margin-bottom: 8px;
    height: 280px;
    width: 648px;
    border: solid 2px black !important;
    padding: 10px;
}

form label {
    display: inline-block;
    width: 30%;
}

form input[type="range"] {
    vertical-align: middle;
    width: 55%;
}

form input[type="number"] {
    width: 10%;
}

form h3 {
    margin: 18.72 0 0 0;
}
